# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
*.log
gvxr.log

# Virtual env
.venv/
venv/
env/
output/

# Outputs & generated data (regenerable)
output/
data/random_li_polyhedra/
data/random_be_polyhedra/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Env secrets
.env
.env.*
